.leftHeader {
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
}
.headerMovie {
  display: flex;
  flex-direction: row;
  margin-top: 1%;
  background-color: #0d0911;
}
.loguito {
  width: 50%;
}
.rightHeader {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
